{% extends 'base.html.twig' %}

{% block title %}Material index{% endblock %}

{% block body %}
<div class="row justify-content-md-center">
    <h1>Liste des Matériaux</h1>
    <a href="{{ path('material_new') }}">Créer nouveau</a>

    <table class="table" style="max-width: 40rem;">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Type</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for material in materials %}
            <tr>
                <td>
                 <a href="{{ path('material_show', {'id': material.id}) }}">
                <strong>{{ material.name }}</strong></td>
                </a>
                <td>{{ material.type }}</td>
                <td>
                    <a href="{{ path('material_edit', {'id': material.id}) }}">modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
